html, body {
    margin: 0;
    padding: 0;
}

/* Setting header */
.header {
    background: #2B2D2F;
    color: white;
    font-size: 25px;
    padding: 10px;
    text-align: center;
}

/* Setting maximum image size*/
img {
    max-width: 300px;
    height: auto;
}


/* General flex rules for all boxes*/
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    flex: 1;
}

.div-column {
    margin: 10px;
    padding: 10px;
    background-color: #FAFAFA;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
}

/* Text above buttons*/
.div-column > div:first-child
{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 4;
}

/* Buttons*/
.div-column > div:last-child
{
    display: flex;
}


/* Buttons */
.div-column > div:last-child > button
{
    display: flex;
    flex-grow: 1;
    margin: 5px;
}

/* Break div*/
.break {
    flex-basis: 100%;
    width: 0;
}


/*Setting up showcase column*/
#laptop-showcase-column
{
    display: flex;
    flex-direction: row;
}

#laptop-showcase-column > :first-child
{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}


#laptop-showcase-column > :nth-child(2)
{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}


#laptop-showcase-column > div:last-child
{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 30px;   
}

#laptop-showcase-column> div:last-child > button
{
    max-height: 40px;
}

/* Button colors and hover colors*/

#buypc-btn
{
    background-color: lightskyblue;
}

#buypc-btn:hover
{
    background-color: rgba(188, 233, 249, 0.971)
}


#bank-btn
{
    background-color: yellowgreen;
}

#bank-btn:hover
{
    background-color: rgba(230, 249, 188, 0.971)
}


#work-btn
{
    background-color: blue;
    color: white;
}

#work-btn:hover
{
    background-color: lightblue;
}

#loan-btn
{
    background-color: lightgreen;  
    
}

#loan-btn:hover
{
    background-color: rgba(191, 249, 188, 0.971)
    
}

/* General button CSS rules */
button
{  
    border: none;
    padding: 10px;
    border-radius: 10px;
    user-select: none;
    justify-content: center;
}

/* Hiding repay button initially*/ 

#repay-loan-btn
{
    display: none;
}